
.highlight{
  text-decoration: none;
  display:block;
  border: 1px solid #000;
  border-radius: 53px;
  padding: 10px;
  margin-left: -30px;
  margin-bottom: 10px;
  width: 383px;
  overflow: hidden;
  color: #f2ceaa; 
}



.highlight1{
  text-decoration: none;
  display:block;
  border: 1px solid #000;
  border-radius: 53px;
  padding: 10px;
  margin-left: -30px;
  margin-bottom: 10px;
  width: 383px;
  overflow: hidden;
  color: #f2ceaa;
}


.artblock {
  background-color: #2d2636;
  padding: 10px;
  border-radius: 30px;
}

.trackblock{
  background-color: #2d2636;
  padding:10px;
  /* height: 532px;  */
  border-radius: 30px;
}
.lyricblock{
  background-color: #2d2636;
  border-radius: 30px;
  height:560px;
  flex:1;
  overflow-y: scroll;

}

.lyricblock::-webkit-scrollbar {
  display: none;
}

.artcolor {
  color:white;
}
.trackcolor{
  color: white;
}
.lyricolor{
  color:white;
}


ol {
  list-style-type: none;
  padding-left: 20px;
}

li {
  list-style-type: none;
  padding-left: -10px;

}

.selected {
  font-weight: bold;
  font-size:x-large;
  font-style: italic;
  text-decoration-line:line-through;
  
}

.Track_sel{
  font-weight: bold;
  font-size: x-large;
  font-style: italic;
  text-decoration-line:line-through;
}
.selected a.highlight{
  border-color: aqua;
}
.Track_sel a.highlight1{
  border-color: ;
}

a.highlight:hover {
  border-color: #f2ceaa;

}
a.highlight1:hover{
  border-color: #f2ceaa;
}
.search1{
  border-radius:30px;
  border-color:#f2ceaa;
  background-color: #2d2636;
  color: aliceblue;
  
}

.search2{
  border-radius:30px;
  border-color:#f2ceaa;
  background-color: #2d2636;
  color: aliceblue;
  
}



