body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:linear-gradient(rgba(34, 78, 49, 0.88) 30%,rgb(247, 186, 186) 60%)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.display-1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 1cm;
  font-size:xx-large;
}
.btn1{
  float: right;
  border-radius: 30px;
  background-color:#f2ceaa;
  margin: 10px;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;            
  box-shadow: 0 0 5px #eee;
  display: block;
  background-position: right center; /* change the direction of the change here */
  color: black;
  text-decoration: none;
}
